ADMINS = (
    ('Leon', 'leon.ho@altran.com'),
)

ALLOWED_HOSTS = ['cv.altran.se','acs.altrancloud.com']

MANAGERS = ADMINS

DEBUG = True
TEMPLATE_DEBUG = DEBUG

HTTP_AUTH = ''
APP_URL = 'https://'+ALLOWED_HOSTS[0]

DATABASES = {
    'default': {
        'ENGINE':'django.db.backends.postgresql_psycopg2',
        'NAME': 'acs2',
        'USER': '{{db_user}}',
        'PASSWORD': '{{db_password}}',
        'HOST': '{{db_host}}',
        'PORT': '5432',
        },
    }

# Whydah App Auth
APP_NAME = 'ACS'
APP_SECRET = '{{acs_secret}}'

SSO_URL = 'https://sso.altran.se/'

TESTTOKEN = ''

TESTTOKEN2 = ''

# SOLR
SOLRURL = 'https://acssolr:acssolr@'+ALLOWED_HOSTS[0]+'/solr/acs/select'