Listen *:443

WSGIPythonPath /home/acs-user/acs/cvapp

Alias /media/ /var/www/media/
Alias /static/ /var/www/static/

<Directory /home/acs-user/acs/cvapp>
        # AllowOverride None
        <Files wsgi.py>
#                Require all granted #Apache 2.4
		Order allow,deny
		Allow from all
        </Files>
</Directory>

<VirtualHost *:80>
       ServerName {{frontend_server_name}}
       Redirect / https://{{frontend_server_name}}/
</VirtualHost>

<VirtualHost *:443>

        ServerName {{frontend_server_name}}

        WSGIScriptAlias / /home/acs-user/acs/cvapp/wsgi.py

        ProxyPass /solr/acs/select http://localhost:8983/solr/acs/select
        ProxyPassReverse /solr/acs/select http://localhost:8983/solr/acs/select

        <Location /solr>
                AuthType Basic
                AuthName "solr select"
                AuthUserFile /home/acs-user/password
                Require valid-user
        </Location>

</VirtualHost>
